<h1 align="center">Jobs page</h1>
<h2>What's new in the market</h2>
<!-- search doesn't work yet  -->
<label> Job search: <input type ="search" placeholder ="search job title"><button>Search</button>
<label> Active: </label><input type ="checkbox" id ="active">
<hr />
<% if current_user.admin_level == true %>
<a href="/jobs/new" class="btn btn-primary">Add New Job</a>
<% else %>
<% end %>
<%@jobs.each do |jobs| %>
<% if jobs.active = true%>
<h3>#<%= jobs.id%>. <%= jobs.title%></h3>
<p><%= jobs.description%></p>
<li>Job site: <a href ="<%=jobs.url%>">Link</a></li>
<li>Location: <%= jobs.location%></li>
<li> Active: <%= jobs.active%></li>
<li>Salary: <%= jobs.salary_range%></li>
<li>Tags: <% jobs.tags.each do |tag|%>
    <%= tag.name%> |
    <% end%>
    </li>
<a href="/jobs/<%= jobs.id %>">Jobs by the company</a>
<hr />
<%else%>
<p> No new jobs in region</p>
<%end%>
<%end%>