<h1 align="center">Jobs page</h1>
<h2>What's new in the market</h2>
<hr />
<%@jobs.each do |jobs| %>
<h3>#<%= jobs.id%>. <%= jobs.title%></h3>
<p><%= jobs.description%></p>
<li>Job site: <a href ="<%=jobs.url%>">Link</a></li>
<li>Location: <%= jobs.location%></li>
<li> Active: <%= jobs.active%></li>
<li>Salary: <%= jobs.salary_range%></li>
<hr />
<% end%>