
<div class="container-fluid" style="background-image:url(/images/bg2.png)">
<div class = "containter-search" align = "center" style="height:10em;padding: 30px 0px 0 0">
<h1 align="center" style= "color: white;font-family:optima">Find your dream job</h1>
<!-- search -->

<%= form_tag jobs_path, method: :get do%>
<div class="input-group mb-3 w-50">
<%=text_field_tag :search, params[:search], placeholder:"Job Title, Keywords", class: "form-control"%>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
</div>
<hr />

</div>
<div class="container">
<% if current_user && current_user.admin_level == true %>
<a href="/jobs/new" class="btn btn-primary">Add New Job</a>
<a href="/tags/new" class="btn btn-primary">Add New Tag</a>
<% end %>
<%@jobs.each do |jobs| %>
<% if jobs.active = true%>
<h3>
<a href="http://localhost:3000/jobs/<%=jobs.id%>"><%= jobs.title%></a>
</h3>
<h5>Job Details:</h5>
<p><%= jobs.description%></p>
<li>Job site: <a href ="<%=jobs.url%>">Link</a></li>
<li>Location: <%= jobs.location%></li>
<li> Active: <%= jobs.active%></li>
<li>Salary: <%= jobs.salary_range%></li>
<li>Tags: <% jobs.tags.each do |tag|%>
    <%= tag.name%> |
    <% end%>
    </li>
<a href="/companies/<%= jobs.company.id %>">Company info</a>
<hr />
<%else%>
<p> No new jobs in region</p>
<%end%>
<%end%>
</div>